<%= form_with(model: user, local: true, class: 'that', data: { toggle: 'validator' } ) do |form| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group has-feedback">
    <%= form.label :name, "Name<span class='required'>*</span>".html_safe, {:class => 'control-label' } %>
    <%= form.text_field :name, {:class => 'form-control',  required: { nil: nil } } %>
    <span class="glyphicon form-control-feedback" aria-hidden="true"></span>
    <div class="help-block with-errors"></div>
  </div>

  <div class="form-group has-feedback">
    <%= form.label :email %>
    <%= form.email_field :email, {:class => 'form-control', data: { error: 'email address is invalid' },  required: { nil: nil } } %>
    <span class="glyphicon form-control-feedback" aria-hidden="true"></span>
    <div class="help-block with-errors"></div>
  </div>

  <div class="form-group">
    <%= form.submit( {:class => 'btn btn-primary'} ) %>
  </div>
<% end %>
